---
layout: default
title: Kai Lin
---

<body>
  <div class="top-container">
    <div class="background-image background-image-anim">
      <div class="image-overlay">
        <div class="intro-container-middle intro-container-middle-anim">
          <div class="intro-content">
            <div class="header-container">
              <h1>HI</h1>
            </div>
            <div class="sub-header-container">
              <h1>I'm Kai Lin</h1>
            </div>
            <div class="description-container">
              <h2>Developer | Programmer | Learner</h1>
            </div>
            <div class="links-container">
              <div class="text-link-container">
                <!-- <a class="square-link" target="_blank" href="somefakeresume">resume</a> -->
              </div>
              <div class="social-icon-container">
                  <a class="social-icon" href="https://bugzilla.mozilla.org/user_profile?user_id=596587" target="_blank" data-toggle="tooltip" title="Bugzilla">
                    <i class="icons fa fa-firefox fa-2x"></i>
                  </a>
                  <a class="social-icon" href="https://www.linkedin.com/in/kailin9/" target="_blank" data-toggle="tooltip" title="LinkedIn">
                    <i class="icons fa fa-linkedin fa-2x"></i>
                  </a>
                  <a class="social-icon" href="https://github.com/xivl/" target="_blank" data-toggle="tooltip" title="Github">
                    <i class="icons fa fa-github fa-2x"></i>
                  </a>
                  <a class="social-icon" href="mailto:kaida7189@gmail.com" target="_blank" data-toggle="tooltip" title="Email">
                    <i class="icons fa fa-envelope fa-2x"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="timeline"></div>

  <div class="project_highlights" id="projects">
    <h1>PROJECT HIGHLIGHTS</h1>
    <div class="title_underline"></div>

    {% for post in site.posts %}
    <div class="project_instance">
      <div class="project_photo">
        <img class="project_img" src="projects/{{post.folder}}/preview.png" alt="{{post.link_title}}">
      </div>

      <div class="project_text_container">
        <h2>{{post.preview_title}}</h2>
        <a class= "link" href="{{post.link}}" target="_blank">{{post.link_title}}</a>
        <p>{{post.preview_description }}</p>
        {% if post.hidden %}
          <a href="#"><div class="border_button">{{post.button_text}}<br>(coming soon)</div></a>
        {% else %}
          <a href="{{post.url}}"><div class="border_button">{{post.button_text}}</div></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <a href="mailto:kaida7189@gmail.com"><div class="border_button larger_button">Contact</div></a>
    <div class="button_subtext_container"><p class="button_subtext">Looking forward</p></div>

  </div>
  {% include google-analytics.html %}
</body>
