---
layout: default
title: Kai Lin
---

<body>
  <div id="introduction" class="top-container">
      <div class="background-image">
      <div class="image-overlay">
        <div class="intro">
        <div class="vert-text">
          <h1 class="header"> I'm Kai Lin</h1>
          <h2 class="sub-header">Developer | Programmer | Learner</h2>
          <div id="social-row">
              <ul class="list-inline">
                  <li><a href="https://bugzilla.mozilla.org/user_profile?user_id=596587" target="_blank" data-toggle="tooltip" title="Bugzilla"><i class="icons fa fa-firefox fa-2x"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/kailin9/" target="_blank" data-toggle="tooltip" title="LinkedIn"><i class="icons fa fa-linkedin fa-2x"></i></a></li>
                  <li><a href="https://github.com/xivl/"" target="_blank" data-toggle="tooltip" title="Github"><i class="icons fa fa-github fa-2x"></i></a></li>
                  <li><a href="mailto:kaida7189@gmail.com" target="_blank" data-toggle="tooltip" title="Email"><i class="icons fa fa-envelope fa-2x"></i></a></li>
              </ul>
          </div>
        </div>
        </div>
      </div>
      </div>
  </div>

  <div class="timeline"></div>

  <div class="project_highlights" id="projects">
    <h1>PROJECT HIGHLIGHTS</h1>
    <div class="title_underline"></div>

    {% for post in site.posts %}
    <div class="project_instance">
      <div class="project_photo">
        <img class="project_img" src="projects/{{post.folder}}/preview.png">
      </div>

      <div class="project_text_container">
        <h2>{{post.preview_title}}</h2>
        <a class= "link" href="{{post.link}}" target="_blank">{{post.link_title}}</a>
        <p>{{post.preview_description }}</p>
        {% if post.hidden %}
          <a href="#"><div class="border_button">{{post.button_text}}<br>(coming soon)</div></a>
        {% else %}
          <a href="{{post.url}}"><div class="border_button">{{post.button_text}}</div></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <a href="mailto:kaida7189@gmail.com"><div class="border_button larger_button">Contact</div></a>
    <div class="button_subtext_container"><p class="button_subtext">Looking forward</p></div>

  </div>

</body>


<script type="text/javascript">
  window.onload = function () {
    function applyAnim(className, animName) {
      var els = document.getElementsByClassName(className);
      if (els && els.length > 0) {
        el = els[0]
        if (el)
          el.classList.add(animName);
      }
    }
    applyAnim("intro-container-right", "intro-container-right-anim");
    applyAnim("background-image", "background-image-anim");
    applyAnim("downwards_curved_triangle", "down_arrow_anim");
    setTimeout( function(){applyAnim("scroll-indicator", "scroll-indicator-fade-in-anim")}, 2000 );
    setTimeout( function(){applyAnim("scroll-indicator", "scroll-indicator-bounce-anim")}, 2500 );
  }
  function readMoreClicked(jobID) {
    var test = document.getElementById('job_'+jobID).style.display = "inline";
    document.getElementById('job_'+jobID+'_trunc').style.display = "none";
  }
</script>
